.chatbox{
    width: 100%;
    height: 100vh;
}

.boxcontainer, .chatwrapper, .leftchatboxwrap,
.leftsearchlist, .listfriends, .listswrap, .liscontainer, .Profile, .user_profile, .profile_wrap,
.user_profile_container, .user_cover_image, .user_profile_image, .users_details, .use_del,
.bio_edit, .set_bio, .op, .user_bio_info, .rt, .edit_b, .no_cover, .user_username_wrap, .s_username_f,
.s_email_f, .find-friends, .find_friends_in, .s_friends, .find_friends_wrap, .search_input,
.searc, .user_container, .user_cont, .n_fie, .notification, .all_notification, .notify,
.recieved_req, .rec_rque_flex, .choose_palace, .image_di, .sel{
    width: 100%;
    height: 100%;
}

.userchat{
    display: flex;
    transition: .3s ease;
}

.userchatcontainer{
    transition: .3s ease;
}

.no_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    background: hsla(0, 0%, 85%, 0.32);
    border-radius: 4px;
}

.chatwrapper, .liscontainer, .qwerty, .user_cont, .user_conatiner_profile, .options{
    display: flex;
    flex-direction: row;
}

.user_conatiner_profile{
    align-items: center;
}

::-webkit-scrollbar{
    display: none;
}


.leftbox{
    width: 25%;
    height: 100vh;
    position: relative;
    background: transparent;
    padding: 20px 10px;
    overflow-y: scroll;
    border-right: 1px solid hsl(0, 0%, 100%);
}

.tabi{
    width: 5%;
    border-right: 1px solid hsla(0, 0%, 100%);
}

.viewchat{
    height: 100vh;
    width: 70%;
}

.leftchatboxwrap, .leftchatheader, .listswrap, .messTime, .use_del, .set_bio_cont,
.rt, .se_us_name, .se_us_mail, .s_friends, .find_friends_in, .all_users_search_wrap,
.notify, .rec_rque_flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftchatheader{
    position: sticky;
    top: -20px;
    z-index: 9;
    background: hsl(207, 95%, 8%);
}

.lefthead, .search_head, .notification_head{
    font-size: 2rem;
    font-weight: 800;
}

.searchlistfriends, .searc, .recieved_title {
    position: relative;
    padding-bottom: 30px;
}

.recieved_title{
    padding-bottom: 20px;
}

.searchlistfriends input, .searc input{
    position: relative;
    width: 100%;
    height: 45px;
    padding: 15px;
    font-size: 1.2rem;
    border: 1px solid hsla(0, 0%, 85%, 0.32);
    border-radius: 6px;
    background: transparent;
    color: hsl(0, 0%, 100%);
    outline: none;
    transition: .3s ease;
    text-indent: 15px;
}

.searchlistfriends input:focus, .searc input:focus{
    border: 1px solid hsl(0, 0%, 100%);
}

.searchlistfriends i, .searc i{
    position: absolute;
    left: 10px;
    top: 10px;
}

.liscontainer, .user_container{
    cursor: pointer;
    align-items: center;
    transition: .3s ease;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.liscontainer:hover, .user_container:hover{
    background: hsla(0, 0%, 85%, 0.09);
}

.listswrap, .liscontainer, .user_container, .options, .user_conatiner_profile{
    gap: 10px;
}

.friendProfile img, .profile_name{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid hsla(0, 0%, 85%, 0.32);
}

.profile_name{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qwerty, .user_cont{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.vieww{
    color: hsla(0, 0%, 85%, 0.395);
}

.view_media{
    display: flex;
    gap: 15px;
}

.Timeset{
    font-size: .8rem;
}

.messTime{
    margin-left: -80px;
}

.messTime{
    gap: 5px;
    align-items: center;
}

.messNum, .user_profile_details, .set_bio_cont, .se_us_name, .se_us_mail, .all_users_search_wrap,
.update_profile_c{
    position: relative;
}

.numcount{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(241, 97%, 24%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.user_profile, .profile_wrap, .user_images, .user_profile_image, .users_bio{
    position: relative;
}

.user_profile_container, .no_friends{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover_image{
    width: 100%;
    height: 170px;
}

.cover_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_picture, .choose_options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.profile_picture img, .no_profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 5;
}

.i{
    background: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsla(0, 0%, 85%, 0.32);
}

.profile_picture, .c_pr_im{
    position: relative;
}

.pop_sel_profile_ii{
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: 9;
}

.pop_sel_profile_ii button{
    background: hsl(0, 0%, 0%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
}

.set_bio_input textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 15px;
    border-radius: 3px;
    background: transparent;
    color: hsl(0, 0%, 100%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: .3s ease;
}

.set_bio_input textarea:focus{
    border: 1px solid hsl(0, 0%, 100%);
}

.op{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.op button{
    width: 130px;
    background: hsl(0, 0%, 100%);
    border: none;
    padding: 15px;
    font-size: 1rem;
}

.rt{
    padding-top: 40px;
}

.user_bio_info, .s_usern, .no_user_email span{
    font-size: 1.3rem;
}

.edit_b button{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s ease;
    background: transparent;
    color: hsl(0, 0%, 100%);
}

.edit_b button i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
}

.edit_b button:hover{
    background: hsl(0, 0%, 100%);
    border: none;
}

.edit_b button:hover i{
    color: hsl(0, 0%, 0%);
}

.s_username_f input, .s_email_f input{
    width: 100%;
    height: 50px;
    background: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    outline: none;
    border: 1px solid hsla(0, 0%, 85%, 0.32);
    border-radius: 6px;
    padding: 15px;
}

.h span{
    color: hsla(0, 0%, 85%, 0.32);
    font-size: 1rem;
}

.side{
    width: 50%;
    height: 100%;
}

.options .ch button{
    padding: 10px;
    color: hsl(0, 0%, 100%);
    background: transparent;
    font-size: 1rem;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options .ch button span{
    font-size: .8rem;
    color: hsla(0, 0%, 85%, 0.32);
}

.options .ch button:hover:active{
    border: 1px solid hsla(0, 0%, 85%, 0.09);
}

.options .ch button:hover{
    border: 1px solid hsla(0, 0%, 85%, 0.09);
}

.options .decline button{
    color: hsla(0, 100%, 50%, 0.588);
}

.options .decline button span{
    color: hsla(0, 100%, 50%, 0.588);
}

.n_fie, .c_pr_im{
    margin: 100px auto;
}

.brow_friends{
    font-size: 1.3rem;
    line-height: 2;
}

.friends_searcch_but{
    text-align: center;
}

.friends_searcch_but button{
    position: relative;
    background: hsla(0, 0%, 100%, 0.56);
    border: 1px solid hsla(0, 0%, 85%, 0.32);
    padding: 15px;
    text-align: center;
    transition: .3s ease;
}

.friends_searcch_but button:hover{
    transform: translateY(-6px);
    background: transparent;
    color: hsl(0, 0%, 100%);
}

.friends_searcch_but button span{
    padding-left: 10px;
}

.sel_p_ima{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.595);
    z-index: 99;
    transition: all .9s ease;
}

.close_p_p{
    right: 20px;
    top: 20px;
    margin-bottom: 40px;
}

.close_p_p button{
    padding: 10px;
    background: transparent;
    color: hsl(0, 0%, 0%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s ease;
}

.close_p_p button:hover{
    border: 1px solid hsla(0, 0%, 0%, 0.32);
}

.close_p_p button i{
    font-size: 1.5rem;
}

.c_pr_im{
    position: relative;
    max-width: 500px;
    padding: 30px;
    background: hsl(0, 0%, 100%);
    border-radius: 6px;
}

.choose_profile_image{
    width: 100%;
    height: 200px;
}

.choose_profile_image label{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.choose_options, .logout_options{
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.update_profile_c button{
    width: 100px;
    height: 45px;
    color: hsl(0, 0%, 100%);
    background: hsl(241, 97%, 24%);
    border: 1px solid hsla(0, 0%, 0%, 0.595);
}

.image_di{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sel{
    border: 1px dashed hsl(241, 97%, 24%);
}

.choose_palace img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.show_logout{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: hsla(0, 0%, 0%, 0.595);
}

.modalogO{
    max-width: 600px;
    margin: 100px auto;
    height: auto;
    padding: 30px;
    background: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.log_off_pop{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal_txt{
    color: hsla(0, 0%, 0%);
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    font-weight: 700;
}

.logout_options{
    display: flex;
    flex-direction: row;
}

.logout_options .logO button{
    color: hsl(0, 0%, 100%);
}

.logout_options .yex button{
    background: hsl(0, 100%, 50%);
}

@media screen and (max-width:786px) {
    .tabi{
        display: none;
    }

    .content, .leftbox{
        width: 100%;
    }

    .leftbox{
        border: none;
    }

}
